<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Triple R Farms: Feedback</h1>
    <p>The following is a users feeback. See more on the admin dashboard.</p>
    <h3>Name</h3>
    <p><%= @feedback.name %></p>
    <h3>Email</h3>
    <p><%= @feedback.email %></p>
    <h3>Message</h3>
    <p><%= @feedback.message %></p>
  </body>
</html>
