<div id="purchased">
  <div id="mainpage">
    <h3>Thanks You</h3>
    <p>If you have any questions or concerns regarding your order, please visit our <%= link_to "Contact Page", contact_path %>.</p>
  </div>
</div>
