<div id="secondaryimage">
  <%= image_tag "about.png" %>
</div>

<div id="about">
  <div id="mainpage">
    <h1>About Us</h1>
    <p>Triple R Farms is a group of farms dedicated to raising natural pasture raised Scottish Highland Cattle. <b>The concept goal for Triple R is to provide the highest quality and healthiest beef to its customers.</b></p>
    <p>All Cattle are raised and finished on our farms. The cattle feed on our pastures all spring and summer, and are fed grass hay from our property throughout the winter months. Triple R's meat is all-natural (no growth hormones, no use of pesticides on pastures). Grass-fed Highland beef has many health benefits.</p>

    <h3>Highland = Healthy</h3>
    <p>All food fats are a blend of two types, saturated and unsaturated. Unsaturated fats include poly and monounsaturated fats. Omega-3s and 6s are types of polyunsaturated fats and are essential for good nutrition. Studies show that when the ratio of Omega-6s to Omega-3s exceeds 4:1, health issues arise.</p>
    <p>Grain fed beef often exceeds a 20:1 ratio, while grass fed beef consistently breaks down at a 3:1 ratio. Analyses have also show that of the total animal fat found in beef, grain fed yields nearly 50% saturated fat. Grass fed beef averages around 10% saturated fat. <span class="highlight">Laboratory tests have proven that Scottish Highland beef is lower in cholesterol than buffalo, pork, lamb, and chicken.</span></p>
  </div>
</div>
