<div id="secondaryimage">
  <%= image_tag "contact.png" %>
</div>

<div id="contact">
  <div id="mainpage">
    <h1>Contact Us</h1>
    <div id="leftcolumn">
      <h3>York Farm:</h3>
      <p>
        251 Imperial Drive
        </br>
        York, PA 17403
      </p>
      <h4>Management</h4>
      <ul>
        <li>Tommy Nicholson</li>
        <li>Bob Lartz</li>
        <li>Tupper Sverduk</li>
      </ul>
      <h3>Roaring Spring Farm:</h3>
      <p>
        1450 South Main Street
        </br>
        Roaring Spring, PA 16673
      </p>
      <h4>Management</h4>
      <ul>
        <li>Bob Ritchey</li>
        <li>Chris Ritchey</li>
        <li>Ben Ritchey</li>
      </ul>
    </div>
    <div id="rightcolumn">
      <h3>Contact Form</h3>
      <p>
        To send your questions and/or comments to Triple R Farms, please fill out the form below:
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
