<div id="secondaryimage">
  <%= image_tag "products.png" %>
</div>

<div id="products">
  <div id="mainpage">
    <h1>Custom Orders</h1>
    <p>Want to customize your order or create your own package of specialty meats and cuts? Create a custom order which can include steaks, roasts, hamburgers or any other products.</p>
    <p>Delivery is $10 dollars for orders under $50 and free for orders of $50 or greater. <%= link_to "Contact Us", contact_path %> in order to create your own custom order.</p>
  </div>
</div>
