<div id="secondaryimage">
  <%= image_tag "home.jpg" %>
</div>

<div id="home">
  <div id="mainpage">
    <h1>
      Welcome to Triple R Farms!
    </h1>
    <p>Ahhhh, the joys of Jerky...whether you’re a Hiker/Biker/Swimmer/Surfer/Skier/Rider/Camper/Diver/Boarder/Hoarder/Dancer/Driver/Desk Jokey or Honest-to-Goodness Rancher our Cowboy Coffee Jerky will turn you into a Dried Beef Connoisseur.</p>

    <h3>What the Buzz all about?</h3>
    <p>Coffee is a perfect marinade base for our Highland beef. In addition to the <b>Kick in the Britches</b> it offers, coffee adds a mouth-watering smoky flavor to the naturally lean beef. The adage <i>fat is flavor</i> is generally true, but fat is a crutch we refuse to lean on.</p>

    <h3>But when is it socially appropriate to enjoy Cowboy Coffee Jerky?</h3>
    <p>Anytime is the Right Time for this 100% Protein Power Punch, that’s the beauty of Cowboy Coffee Jerky! On the way to or from work, the gym, the market, the tailors, anytime!</p>

    <h3>A Flavor a Day</h3>
    <ul>
      <li>Original</li>
      <li>Original w/Coffee</li>
      <li>Chesapeake</li>
      <li>Chesapeake w/Coffee</li>
      <li>Hot</li>
      <li>Hot w/Coffee</li>
    </ul>

    <h3>Ready to Saddle Up & Ride w/Cowboy Coffee Jerky?</h3>
    <h4 class="text-center"><%= link_to "Get Some Now!", jerky_path %></h4>
  </div>
</div>
