<div id="secondaryimage">
  <%= image_tag "shop.png" %>
</div>

<div id="products">
  <div id="mainpage">
    <h1>Shop</h1>
    <div id="leftcolumn">
      <h3><u>Products</u></h3>
      <div class="column">
        <div><img src="images/beefjerky.jpg" height="100px" width="150px"></div>
        <div class="clear"></div>
        <div>Chesapeake Beef Jerky</div>
        <div>2oz for $6.00</div>
      </div>
      <div class="column">
        <div><img src="images/beefjerky.jpg" height="100px" width="150px"></div>
        <div class="clear"></div>
        <div>Sweet &amp; Spicy Beef Jerky</div>
        <div>2oz for $6.00</div>
      </div>
    </div>
    <div id="rightcolumn">
      <h3><u>Custom Ordering</u></h3>
      <p>Want to customize your order or create your own package of specialty meats and cuts? Create a custom order which can include steaks, roasts, hamburgers or any other products.</p>
      <p>Delivery is $10 dollars for orders under $50 and free for orders of $50 or greater. Delivery is included in the total price calculation at the bottom of this form.</p>
      <p>To cancel orders please use the <%= link_to "Contact Us", contact_path %> page letting us know your address and any other specific details for the order you are cancelling.</p>
      <div class="left">
        <div>Dropdowns for each jerky</div>
        <div>Enter in one of our promotional codes for a discount!</div>
        <br>
        <div>
          <label style="display:block;font-weight:bold">Promo Code:</label>
          <input id="promo" type="text" name="entry.41.single" onchange="recalc()" value="">
        </div>
      </div>
      <div class="clear"></div>
      <div>
        <div style="margin-top:1.0em;"><b>
            <span>Total Price: </span>
            <span id="total">$0.00</span>
            <span class="steakprice" style="color:#c43b1d">***</span>
        </b></div>
      </div>
    </div>
    <br>
    <div class="clear"></div>
  </div>
</div>
