<div id="locations">
  <div id="mainpage">
    <div class="row text-center">
      <div class="col-md-6">
        <h3>York Farm</h3>
        <p>251 Imperial Drive</br>York, PA 17403</p>
        <h4>Management</h4>
        <ul class="list">
          <li>Tommy Nicholson</li>
          <li>Bob Lartz</li>
          <li>Tupper Sverduk</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Roaring Spring Farm</h3>
        <p>1450 South Main Street</br>Roaring Spring, PA 16673</p>
        <h4>Management</h4>
        <ul class="list">
          <li>Bob Ritchey</li>
          <li>Chris Ritchey</li>
          <li>Ben Ritchey</li>
        </ul>
      </div>
    </div>
  </div>
</div>
