<% classes = "col-md-4"
if (index%2).zero? && (count%2).zero?
  classes += " col-md-offset-2"
end %>
<div class="<%= classes %> product-box">
  <%= image_tag product.image.url, class: "product-image" %>
</div>
