<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>To our customers,</p>
    <p>Our goal at Triple-R-Farms is creating the healthiest, best-tasting beef jerky snack possible. As a practicing surgeon I know, firsthand, the effects of a poor diet. I have also known the benefits of good eating habits. Triple-R-Farms is built on eating well, and improving your quality of life and health.</p>
    <p>Our recipe has the highest quality ingredients, using best practices. The result is the healthiest jerky we can make. We make each recipe with and without coffee. The coffee gives a natural energy boost and even suppresses the appetite. We start with our grass-fed, Scottish Highland cattle that are humanely raised on pastures in rural Pennsylvania. In my medical practice, treating colon cancer, one of the best recommended foods for patients is grass-fed beef. Laboratory studies show Scottish Highland cattle are lean, with a high-protein meat, packed with nutrients. Corn-fed beef, in feedlots, is not tolerated by many people - either as an allergy or because they are unable to digest corn-fed beef.</p>
    <p>Making our jerky starts with top cuts: filet steak to ground beef. We do not use leftovers commonly used at other jerky companies. The result? Our beef jerky has the best taste and flavor. Our jerky is soft and tender. We want our customers to enjoy our product not get a work-out eating it! Finally, we choose all clean ingredients for marinating our beef. We use simple ingredients, no soy or corn syrup or any artificial ingredients. We do not expose any of our customers to anything that is not natural.</p>
    <p>Combining my experience in my medical and surgical practice, and raising our cattle, we are creating healthy beef jerky. Enjoy the taste and receive the benefits of eating healthy.</p>
    <p>Dr. Tommy Nicholson, MD</p>
  </div>
</div>
