<div id="about">
  <div id="mainpage">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>We work with third parties such as Twitter and Google to collect user data for conversion tracking and serving ads targeted to users' interests. Cookies are used in this process. Both Twitter and Google have opt out processes. More information can be found in the links below or by searching for their policies.</p>
        <p>
          <%= link_to "Twitter", "https://support.twitter.com/articles/20170405", target: :_blank %> |
          <%= link_to "Facebook", "http://www.google.com/settings/ads", target: :_blank %>
      </div>
    </div>
  </div>
</div>
