<% if @conversion %>
  <% content_for :conversion_tracking do %>
    <% value = number_with_precision(@conversion[:value] / 100.0, precision: 2) %>
    <!-- Google Code for Triple R Farms Conversion Page -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 977307952;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "RlpDCKf5118QsJKC0gM";
      var google_conversion_value = <%= value %>;
      var google_conversion_currency = "USD";
      var google_remarketing_only = false;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('l6rw5', { tw_sale_amount: <%= value %>, tw_order_quantity: <%= @conversion[:quantity] %> });</script>
  <% end %>
<% end %>

<div id="order">
  <div id="mainpage">
    <h3>Thank You</h3>
    <p class="text-center">
      If you have any questions or concerns regarding your order,<br>
      please visit our <%= link_to "Contact Page", contact_path %>.
    </p>
  </div>
</div>
