<div id="order">
  <div id="mainpage">
    <h3>Thank You</h3>
    <p class="text-center">
      If you have any questions or concerns regarding your order,<br>
      please visit our <%= link_to "Contact Page", contact_path %>.
    </p>
  </div>
</div>
