@import "variables";
.return-admin {
  right: 0;
}
.admin-create-btn {
  left: 0;
}
.return-admin,
.admin-create-btn {
  top: 0;
  position: fixed;
  font-size: 14px;
  font-family: Truckstyle, TruckstyleEI;
  margin: 1em;
  text-decoration: none;
  color: #FFFFFF;
  &:hover { color: #000000; }   /* mouse over link */
  &:active { color: #000000; }  /* as clicked link */
}

.admin-link {
  &:hover { color: #000000; }   /* mouse over link */
  &:active { color: #000000; }  /* as clicked link */
}

.admin td a {
  text-decoration: none;
  color: $green;
  &:hover { color: black; }   /* mouse over link */
  &:active { color: black; }  /* as clicked link */
}
