/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Bitter);

.green { color: $green; }
.btn-green {
  @include button-variant(white, $green, $green);
}

span.highlight { color: yellow; }

.clear { clear: both; }
.left{ float: left; }
.right{ float: right; }
.center{ text-align: center; }

h1 { text-align: center; }
h3 { text-align: center; }

a, img {
  border:none;
}

p {
  margin: 20px 0;
}

a, span, div, p {
  font-family: "Bitter", serif;
}

input, textarea {
  color: black;
}

/* All links aside from nav bar/footer */
#mainpage p a {
  text-decoration: underline;
  color: #FFFFFF;
  &:hover { color: #FFFFFF; }   /* mouse over link */
  &:active { color: #FFFFFF; }  /* as clicked link */
}
a {
  text-decoration: none;
  color: #667C26;
  &:hover { color: #FFFFFF; }   /* mouse over link */
  &:active { color: #FFFFFF; }  /* as clicked link */
}

body.normal {
  margin-left: auto;
  margin-right: auto;
  background-image: image-url("main.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000000;
  color: #FFFFFF;
}

// Flash
.alert {
  background-color: $green;
}
.flash {
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  right: 0;
  padding: 11px;
}

/* Main Content */
div#secondaryimage {
  margin: 20px;
  text-align: center;
}
div#mainpage {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Footer */
#footer {
  width: 100%;
  padding: 0 20px;
}

.list {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}
.padding-10 {
  padding: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-40 {
  padding-right: 40px;
}
.margin-0 {
  margin: 0;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

@media (max-width: $screen-md-min) {
  .padding-0-mobile {
    padding: 0;
  }
}
