div#products #leftcolumn {
  float: left;
  width: 347px;
  padding-right: 10px;
}
div#products .column {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 150px;
  border: 2px solid white;
  margin: 0% 0% 2% 2%;
  text-align: center;
  padding-top: 10px;
}
div#products #rightcolumn {
  float: right;
  padding-left: 10px;
  width: 357px;
  border-left: 2px solid white;
}
