@import "variables";

#primaryimage {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  width: 736px;
  padding: 10px;
  .facebook{
    float: right;
  }
}

nav {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
  display: block;
  background-color: rgb(102, 124, 38);
}
.normal nav {
  background-color: rgba(102, 124, 38, 0.6);
}
nav a {
  margin: 1em;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Truckstyle, TruckstyleEI;
  &:hover { color: #000000; }   /* mouse over link */
  &:active { color: #000000; }  /* as clicked link */
  &:focus { color: #000000; }
}
.mobile-nav {
  display: none;
}
.pages.home nav .home-link,
.pages.about nav .about-link,
.pages.farms nav .farms-link,
.pages.jerky nav .jerky-link,
.pages.contact nav .contact-link,
.pages.locations nav .locations-link {
  color: black;
}

@font-face {
  font-family: Truckstyle;
  src: asset-url("LHFBostonTruckstyle.ttf");
}

@font-face {
  font-family: TruckstyleEI;
  src: asset-url("LHFBostonTruckstyle.eot");
}

@media (max-width: $screen-md-min) {
  #primaryimage {
    width: 100%;
  }

  .normal-nav {
    display: none;
    &.active {
      display: block;
      a {
        display: block;
        margin: 10px;
      }
    }
  }
  .mobile-nav {
    display: block;
  }
}
