#primaryimage {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  width: 736px;
  .facebook{
    float: right;
  }
}

nav {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
  font-family: Truckstyle, TruckstyleEI;
  display: block;
  background-color: #667C26;
}
#nav a {
  margin: 1em;
  text-decoration: none;
  &:link { color: #FFFFFF; }    /* unvisited link */
  &:visited { color: #FFFFFF; } /* visited link */
  &:hover { color: #000000; }   /* mouse over link */
  &:active { color: #0000FF; }  /* as clicked link */
}

@font-face {
  font-family: Truckstyle;
  src: asset-url("LHFBostonTruckstyle.ttf");
}

@font-face {
  font-family: TruckstyleEI;
  src: asset-url("LHFBostonTruckstyle.eot");
}
